# BB-MAS Dataset Download URL
# Get the download URL from IEEE DataPort: https://ieee-dataport.org/open-access/bb-mas-dataset
# The URL will be a signed S3 URL that expires after a certain time
# Copy this file to .env and replace the URL below with your actual download URL
BB_MAS_DATASET_URL=https://ieee-dataport.s3.amazonaws.com/open/16134/BB-MAS_Dataset.zip?versionId=...
